<!doctype html>
<html lang="en" dir="ltr">


<partial name="~/Views/Shared/Partials/_Head.cshtml" />

<body class="geex-dashboard">


    <partial name="~/Views/Shared/Partials/_Header.cshtml" />

    <main class="geex-main-content">

        <partial name="~/Views/Shared/Partials/_Sidebar.cshtml" />

        <partial name="~/Views/Shared/Partials/_Customizer.cshtml" />
        

        <div class="geex-content">
            <partial name="~/Views/Shared/Partials/_ContentHeader.cshtml" />
            @RenderBody()

        </div>
    </main>

    <!-- JAVASCRIPTS START -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Third-party plugins -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.27.0/dist/apexcharts.min.js"></script>
    
    <!-- SignalR for real-time updates -->
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    
    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap5.min.js"></script>
    
    <!-- Custom scripts -->
    <script src="~/js/main.js"></script>
    
    <!-- Page-specific scripts -->
    @await RenderSectionAsync("Scripts", required: false)
    <!-- JAVASCRIPTS END -->
</body>

</html>