@*
    Geex - ASP.Net MVC 5 Admin & Dashboard Template design by PIXCELSTHEMES (https://themeforest.net/user/pixcelsthemes)
*@
@{
}
<footer class="geex-footer">
	<div class="geex-footer__wrap">
		<div class="geex-footer__copyright">
			<p><span>© 2024 </span><a href="https://themeforest.net/user/pixcelsthemes">PixcelsThemes</a></p>
		</div>
		<ul class="geex-footer__menu">
			<li class="geex-footer__meu__item">
				<a href="@Url.Action("Terms","Pages")">Privacy</a>
			</li>
			<li class="geex-footer__meu__item">
				<a href="@Url.Action("Blog","Pages")">Blog</a>
			</li>
			<li class="geex-footer__meu__item">
				<a href="@Url.Action("Faq","Pages")">Faq</a>
			</li>
		</ul>
	</div>
</footer>